{
        "application" : {
                "host" : "0.0.0.0",
                "port" : 5007,
                "debug" : true
        },
        "colors" : {
                "error" : "#ff0000",
                "alert" : "#ffff00",
                "success" : "#28c12b"
        },
        "mattermost" : {
                "server_url" : "https://your_mm_host.fqdn/",
                "post_user_name" : "AnsibleTower",
                "post_user_icon" : "https://your_mm_host.fqdn/api/v4/emoji/some_emoji_id/image"
        },
        "tower" : {
                "server_url" : "https://your_tower_host.fqdn/"
        }
}